<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="shared/head"/>

<body>

<div class="wrapper">
    <nav th:include="shared/navbar" class="navbar navbar-expand-lg navbar-dark text-uppercase" />
    <div class="container test__container text-center text--shadow ">
        <div class="row test__container">
            <div class=" col-md-4 col-sm-12 ">
                <div class="col-md-12 test__column__small box--shadow ">
                    <p>WHAT TO KNOW</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="col-md-12 test__column mb-4 box--shadow ">
                    <p>GETTING TESTED</p>
                </div>

                <img src="/images/register.png" class="img-fluid about__icon" alt="register">

            </div>
            <div class="col-md-4 col-sm-12">
                <div class="col-md-12 test__column mb-4 box--shadow ">
                    <p>PCR TEST</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
