<h3 class="table__header">LOGIN</h3>
<hr class="hr--dark">
<form class="table__form" method="POST">
    <!-- <div class="autoComplete_wrapper">
        <input id="autoComplete" type="text" dir="ltr" spellcheck="false" autocorrect="off" autocomplete="off"
            autocapitalize="off" maxlength="2048" tabindex="1" role="combobox" aria-haspopup="true"
            aria-expanded="false" aria-controls="autoComplete_list" aria-autocomplete="both"
            placeholder="Search for Food &amp; Drinks!">
        <div class="selection"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@9.1.1/dist/js/autoComplete.min.js"></script>
    <script src="/js/script.js"></script> -->
    <input required type="login" name="login" class="form-control box--shadow" placeholder="Email or CPR"
        id="inputLogin">
    <input required type="password" name="password" class="form-control box--shadow" placeholder="Password"
        id="loginPassword">

    <button type="submit" th:formaction="login" class="button--dark box--shadow">LOGIN</button>
</form>

<a class="float-start login__link no--shadow" data-bs-toggle="modal" data-bs-target="#registerModal">Register</a>
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title no--shadow fw-bold" id="registerModalLabel">Please type in your information to
                    register</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="table__form" method="POST">
                    <label for="name" class="form-label no--shadow float-start pt-3">Name</label>
                    <input required type="name" name="userName" class="form-control box--shadow" placeholder="John Doe"
                        id="inputName">
                    <label for="address" class="form-label no--shadow float-start pt-3">Address</label>
                    <input required type="address" name="userAddress" class="form-control box--shadow"
                        placeholder="Halldor Laxness Vej 9, ST TH" id="inputAddress">
                    <label for="cpr" class="form-label no--shadow float-start pt-3">CPR</label>
                    <input required type="number" name="userCpr" class="form-control box--shadow"
                        placeholder="2546884411" id="inputCPR" pattern="[0-9]{10}">
                    <label for="phoneNR" class="form-label no--shadow float-start pt-3">Phone</label>
                    <input required type="tel" name="userPhone" class="form-control box--shadow"
                        placeholder="+4512345678" id="inputPhoneNR" pattern="[0-9]{8}">
                    <label for="email" class="form-label no--shadow float-start pt-3">Email</label>
                    <input required type="email" name="userEmail" class="form-control box--shadow"
                        placeholder="johndoe@gmail.com" id="inputEmail">
                    <label for="password" class="form-label no--shadow float-start pt-3">Password</label>
                    <input required type="password" name="userPassword" class="form-control box--shadow"
                        placeholder="Password" id="inputPassword">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary box--shadow"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit" th:formaction="@{/register}"
                            class="btn button--green box--shadow">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<a class="float-end login__link no--shadow">Forgot Password?</a>