<body>
<h3 class="table__header">BOOKING</h3>
<hr class="hr--dark">
<p>
<div class="form-check book__test">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="test">
    <label class="form-check-label" for="test">
        TEST
    </label>
</div>
<div class="form-check book__vaccine">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="vaccine" checked>
    <label class="form-check-label" for="vaccine">
        VACCINE
    </label>
</div>
</p>
<br><br>
<p>
<div>
    <input class="date__calendar float-start" type="date" id="bookingdate" name="bookingdate">
</div>
<select class="form-select date__time float-end" aria-label="Default select example">
    <option selected>Choose time</option>
    <option value="1">14:30</option>
    <option value="2">14:45</option>
    <option value="3">15:00</option>
</select>
</p>
<br><br><br>
<button type="submit" class="button--dark box--shadow">BOOK NOW</button>

</body>
