<h3 class="table__header">BOOKING</h3>
<hr class="hr--dark">

<form class="table__form">
    <div class="row pb-3">
        <p>CHOOSE YOUR BOOKING</p>
        <div class="col-xl-6">
            <div class="form-check table__header float-xxl-start">
                <input class="form-check-input" type="radio" name="bookingCheck" id="test" checked>
                <label class="form-check-label" for="test">
                    TEST
                </label>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="form-check table__header float-xxl-end">
                <input class="form-check-input" type="radio" name="bookingCheck" id="vaccine">
                <label class="form-check-label" for="vaccine">
                    VACCINE
                </label>
            </div>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-xl-6">
            <input class="form-control float-xl-start" type="date" id="bookingdate" name="bookingDate">
        </div>
        <div class="col-xl-6">
            <select class="form-select float-xl-end" aria-label="Default select example">
                <option selected>Choose time</option>
                <option value="1">14:30</option>
                <option value="2">14:45</option>
                <option value="3">15:00</option>
            </select>
        </div>
    </div>
    <button type="submit" class="button--dark box--shadow">BOOK NOW</button>
</form>