body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	color: #fffdfd;
}

.hr--bright {
	height: 2px !important;
	color: #81dfe8;
}

.hr--dark {
	height: 2px !important;
	color: #4a8f92;
}
.wrapper {
	min-height: 100vh;
	background-image: url("/images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
}

.box--shadow {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text--shadow {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text--bold {
	font-weight: bold;
}

.nav-link {
	font-size: 1.5em;
	letter-spacing: 0.05em;
	color: #fffdfd !important;
	text-decoration: none;
}

.nav-link.active {
	color: #f86060 !important;
}

.nav-link:hover {
	color: #f86060 !important;
}

.navbar-dark .navbar-toggler {
	background-color: #f86060ba !important;
}

.header {
	color: #fffdfd;
	padding-top: 15vh;
	letter-spacing: 0.05em;
}

.button--white {
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	background-color: #ffffff;
	color: #5c5b5b;
	padding: 0.4em 0.7em;
	margin-top: 1.25em;
	border-radius: 8px;
	border: none;
	transition: 200ms ease;
	margin-top: 0vh !important;
}

.button--white:hover, .button--dark:hover {
	transform: translate(0, -2px);
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.header__textbox {
	background-color: #cb5151;
	padding: 0 auto;
	width: 16.5em;
	height: 2.5em;
}

.header__textbox h1 {
	padding: 5px 24px;
	font-size: 1.5em;
	font-weight: bold;
}

.header__text {
	font-size: 3.75rem;
	font-weight: 300;
}

.table__contact {
	background-color: #4a8f92CC;
}

.table_booking {
	background-color: #61b6beCC;
}

.col_hours {
	background-color: #4a8f92CC;
}

.table_booking,
.table__contact,
.col_hours {
	color: #ffffff;
	min-height: 25vh;
}

.table__container {
	position: absolute;
	min-width: 100%;
	bottom: 0;
}

.table__text,
.table__header {
	font-weight: 300;
}

.table__header {
	font-size: 1.8em;
	margin-top: 20px;
}

.table__text {
	font-size: 1.1em;
	line-height: 3em;
}

.form-control {
	margin-bottom: 10px;
	border-radius: 8px !important;
}

.login__form {
	margin: 0 auto;
	max-width: 80%;
}

.login__link {
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	margin: 10px;
}
.button--dark {
	font-size: 24px;
	font-weight: bold;
	background-color: #4a8f92;
	color: #ffffff;
	padding: 0.5vh 2vw;
	border-radius: 8px;
	border: none;
	transition: 200ms ease;
	margin-bottom: 2vh;
}

.form-check{
	display: inline-block;
}

.book__test{
	float: left;
	margin-left: 5.5vw;
}

.book__vaccine{
	float: right;
	margin-right: 4vw;
}

.book__vaccine,.book__test{
	font-size: 1.5em;
}

.date__time{
	padding: 0rem 0rem 0.2rem 0.2rem !important;
}

.date__calendar, .date__time{
	height: 3.5vh;
	width: 13vw !important;
}



@media screen and (max-width: 768px) {
	.table__container {
		position: relative;
		top: 15vh;
		bottom: auto;
	}
}
