body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #fffdfd;
}

.wrapper {
    min-height: 100vh;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.nav-link {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #fffdfd !important;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-link.active {
    color: #f86060 !important;
}

.nav-link:hover {
    color: #f86060 !important;
}

.navbar-dark .navbar-toggler {
    background-color: #f86060ba !important;
}