<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="shared/head" />

<body>

<div class="wrapper">
    <nav th:include="shared/navbar" class="navbar navbar-expand-lg navbar-dark text-uppercase" />

    <div class="container vaccine__container text-center text--shadow ">
    <div class="row vaccine__container">
        <div class=" col-md-6 col-sm-12 ">
            <div class="col-md-12 vaccine__column__left box--shadow ">
                <p>GENERAL INFORMATION
                </p>
                <hr class="hr--dark vaccine__line">
                <div class="container vaccine__text__container">
                <p class="vaccine__text__bold">
                    The COVID-19 vaccine is one of the most important things we can do to stop the epidemic.
                </p>
                <p class="vaccine__text__bold">
                How it works?
                </p>
                <p class="vaccine__text__normal">
                    The vaccine triggers the body's natural production of antibodies. It also stimulates our immune cells to protect us against COVID-19 infection.
                </p>
                <p class="vaccine__text__bold">
                    Why is it worth getting vaccinated?
                </p>
                <p class="vaccine__text__normal">
                    Defeating the coronavirus is only possible by interrupting its human-to-human transmission. The vaccine gives us this opportunity. In order for the effects to be the best and as quickly as possible, we must be responsible and solidarity. Anyone who gets vaccinated has a chance to break the chain of infections. Our vaccination is not only about protection for us. It is also about protecting our parents, grandparents, children and friends.
                </p>
                    <button type="button" class="btn vaccine__button button--red box--shadow">BOOK YOUR VACCINE NOW!</button>
            </div>
            </div>
           </div>
        <div class="col-md-6 col-sm-12">
            <div class="col-md-12 vaccine__column__right box--shadow ">
                <p>HOW TO GET VACCINE?</p>
                <hr class="hr--dark vaccine__line">
                <div class="container vaccine__text__container">
                    <p class="vaccine__text__bold">
                        You will be offered a vaccination.
                    </p>
                    <p class="vaccine__text__normal">
                        When it comes your time, you will receive a vaccination offer through your e-boks.
                    </p>
                    <p class="vaccine__text__bold">
                        IMPORTANT!
                    </p>
                    <p class="vaccine__text__normal">
                        Please keep in mind that your booking will be cancelled if it is not your time for the vaccine.
                    </p>
                    <p class="vaccine__text__bold">
                        What if I received an offer?
                    </p>
                    <p class="vaccine__text__normal">
                        If you received a vaccination offer on your e-boks, you can book your vaccine. After receiving the first dose of vaccine, your second dose appointment will be booked automatically, <strong> you do not need to do it </strong>.
                    </p>
                    <p class="vaccine__text__bold">
                        After the vaccine
                    </p>
                    <p class="vaccine__text__normal">
                        After both dose of vaccines you can print your vaccine pass. You just need to login into your profile and press button <strong> VACCINE PASS</strong>.
                    </p>
                    <p class="vaccine__text__bold">
                        Remember, you can not choose your vaccine type!
                    </p>

                </div>
            </div>



        </div>

    </div>
    </div>


</div>
</body>

</html>