<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head th:include="shared/head" />

    <body>

        <div class="wrapper">
            <nav th:include="shared/navbar" class="navbar navbar-expand-lg navbar-dark text-uppercase" />

            <div class="container">
                <div class="about__container box--shadow">
                    <div class="container">
                        <div class="about__text">
                            <h3 class="about__header">✔️ Easy Booking</h3>
                            <p class="no--shadow">Our corona tests and vaccine are safe</p>
                            <h3 class="about__header">✔️ Fast Appointment</h3>
                            <p class="no--shadow">Our staff are experienced and of high quality
                            </p>
                            <h3 class="about__header">✔️ Reliability</h3>
                            <p class="no--shadow">If you have any questions, just contact us</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="/" type="submit" class="button--dark box--shadow">BOOK NOW</a>
                    </div>
                </div>
            </div>
            <div class="container table__container">
                <div class="row table__about">
                    <div class="col-md-4 col-sm-12">
                        <div class="col-md-12 about__box mb-3 box--shadow">
                            <div class="container text-center pb-5">
                                <img src="/images/register.png" class="img-fluid about__icon" alt="register">
                                <h1 class="about__header"> First you have to Register</h1>
                                <p class="about__text">Follow a simple registration, where you have to enter an email
                                    address, your name, CPR and create a new unique password</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="col-md-12 about__box mb-3 box--shadow">
                            <div class="container text-center pb-5">
                                <img src="/images/calendar.png" class="img-fluid about__icon" alt="register">
                                <h1 class="about__header"> Then Make an Appointment</h1>
                                <p class="about__text">Chose a date and time for your Vaccine or SWAB Test, the booked
                                    time
                                    can be found in your profile.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="col-md-12 about__box mb-3 box--shadow">
                            <div class="container text-center pb-5">
                                <img src="/images/notes.png" class="img-fluid about__icon" alt="register">
                                <h1 class="about__header"> Download your Corona Pass</h1>
                                <p class="about__text">Then simply navigate to your profile and find your Corona Pass.
                                    Press
                                    the button to download it as PDF and you are ready</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </body>

</html>