<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head th:include="shared/head" />

    <body>
        <div class="wrapper">
            <nav th:include="shared/navbar" class="navbar navbar-expand-lg navbar-dark text-uppercase" />
            <div class="container">
                <div class="header text--shadow">
                    <div class="header__textbox box--shadow">
                        <h1>MEDICAL CENTER</h1>
                    </div>
                    <h2 class="header__text">
                        YOUR HEALTH<br>
                        <span class="text--bold">IS OUR PRIORITY</span>
                    </h2>
                    <button type="button" class="button--white box--shadow">BOOK NOW</button>
                </div>

            </div>

            <div class="container table__container">
                <div class="row">
                    <div class="col-md-4 col-sm-12 table__contact">
                        <div class="container text-center text--shadow">
                            <h3 class="contact__header">OUR CONTACT</h3>
                            <hr class="hr--bright">
                            <p class="contact__text">Amagerbrogade 8, KBH S<br>
                                +4528384768<br>
                                testcenterA@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col_booking">
                        <h1 class="booking">BOOKING</h1>
                    </div>
                    <div class="col-md-4 col-sm-12 col_hours">
                        <h1 class="hours">OPENING HOURS</h1>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>