<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head th:include="shared/head" />

    <body>

        <div class="wrapper">
            <nav th:include="shared/navbar" class="navbar navbar-expand-lg navbar-dark text-uppercase" />
            <div class="container test__container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="col-md-12 table__test table__half  box--shadow">
                            <div class="container">
                                <h2 class="table__header text-center fw-normal">WHAT TO KNOW</h2>
                                <hr class="hr--dark">
                                <ul class="list test__list">
                                    <li>
                                        The following information will further explain the process of getting
                                        tested.
                                    </li>
                                    <li>
                                        Below is a picture of the PCR-test.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 table__half text-center pt-5">
                            <img src="/images/pcrTest.png" class="img-fluid box--shadow" alt="pcrTest">
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="col-md-12 box--shadow table__test table__full">
                            <div class="container">
                                <h2 class="table__header text-center fw-normal">GETTING TESTED</h2>
                                <hr class="hr--dark">
                                <ul class="list test__list">
                                    <li>
                                        In our COVID19-test facility we offer only one type of test, the PCR-test.

                                    </li>
                                    <li>
                                        You must book an appointment in due time, in order to get tested.
                                    </li>
                                    <li>
                                        It is not allowed to simply walk in without an appointment.
                                    </li>
                                    <li>
                                        Remember to wear a facemask or other government approved health safety
                                        standard.

                                    </li>
                                    <li>
                                        There might be a queue, in this case please wait 5-10 min before entering.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="col-md-12 box--shadow table__test table__full">
                            <div class="container">
                                <h2 class="table__header text-center fw-normal">PCR TEST</h2>
                                <hr class="hr--dark">
                                <ul class="list test__list">
                                    <li>
                                        The PCR test is very sensitive and will turn a positive result after 3-10
                                        days of
                                        infection.
                                    </li>
                                    <li>
                                        The PCR test can also be positive for some days till weeks after you are
                                        healthy
                                        again.
                                    </li>
                                    <li>
                                        The test therefore cannot be used to determine when you are healthy.
                                    </li>
                                    <li>
                                        If you did not have any symptoms, you are then non-contagieous 7 days after
                                        the
                                        test has come back positive.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>