<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head th:include="shared/head" />

    <body>
        <div class="wrapper">
            <nav th:include="shared/navbar" class="navbar navbar-expand-lg navbar-dark text-uppercase" />
            <div class="user__container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="col-md-12 table__info table--full">
                            <div class="container">
                                <h1 class="table__header text-center">PROFILE</h1>
                                <hr class="hr--dark">
                                <h3>Name</h3>
                                <p th:text="${session.loggedUser.userName}"></p>
                                <h3>Email</h3>
                                <p th:text="${session.loggedUser.userEmail}"></p>
                                <h3>Phone</h3>
                                <p th:text="${session.loggedUser.userPhone}"></p>
                                <h3>CPR</h3>
                                <p th:text="${session.loggedUser.userCpr}"></p>
                                <h3>Address</h3>
                                <p th:text="${session.loggedUser.userAddress}"></p>

                                <div class="text-center pt-3">
                                    <button type="submit" class="button--dark box--shadow">CORONA PASS</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-12">
                        <div class="col-md-12 table__info table--half">
                            <div class="col-md-12 ">
                                <div class="container">
                                    <h1 class="table__header text-center">UPCOMING
                                        <br>
                                        APPOINTMENTS
                                    </h1>
                                    <hr class="hr--dark">
                                    <p>
                                        <strong> 25/05/2021</strong> at <strong>18:00</strong>
                                        <br>
                                        COVID-19 VACCINE, FIRST DOSE
                                    </p>
                                    <div class="text-center">
                                        <button class="button--dark text-center box--shadow mx-5 mt-5">CANCEL
                                            BOOKING</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 table__info table--half">
                            <div class="container text-center">
                                <h1 class="table__header">VACCINATION STATUS</h1>
                                <hr class="hr--dark">
                                <p>
                                    FIRST DOSE RECEIVED
                                    <br>
                                    <strong th:text="${firstVaccine}"></strong>
                                </p>
                                <br>
                                <p>
                                    SECOND DOSE RECEIVED
                                    <br>
                                    <strong th:text="${secondVaccine}"></strong>
                                </p>
                                <button class="button--dark text-center box--shadow mx-5 mt-2">VACCINE
                                    PASS</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12">
                        <div class="col-md-12 table__info table--full">
                            <div class="container">
                                <h1 class="table__header text-center">
                                    HISTORY
                                </h1>
                                <hr class="hr--dark">
                                <ul class="list-unstyled">
                                    <li th:each="booking : ${listOfUserBookings}" class="pb-2 pt-2">
                                        <p> <strong th:text="${booking.getBookingDate}"></strong> at
                                            <strong
                                                th:text="${timeSlots.findTimeSlotById(booking.getBookingTimeSlotId)}"></strong>
                                            <br>
                                            COVID19 <span th:text="${booking.getBookingName}"></span><span
                                                class="float-end fw-bold" th:text="${booking.getBookingName}"></span>
                                        </p>
                                    </li>
                                </ul>
                                <div class="text-center">
                                    <button class="button--dark text-center box--shadow mx-5 mt-5">PRINT
                                        HISTORY</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>