<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

  <head th:include="shared/head" />

  <body>
    <div class="wrapper">
      <nav th:include="shared/navbar" class="navbar navbar-expand-lg navbar-dark text-uppercase" />
      <div class="container info__container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="col-md-12 table__info table--full box--shadow">
              <div class="container">
                <h2 class="table__header text-center">GENERAL INFORMATION
                </h2>
                <hr class="hr--dark">
                <div class="info__list">
                  <h3>The COVID-19 vaccine is one of the most important things we can do to stop the epidemic.</h3>
                  <br>
                  <h4>How it works?</h4>
                  <p>
                    The vaccine triggers the body's natural production of antibodies. It also stimulates our immune
                    cells
                    to protect us against COVID-19 infection.
                  </p>
                  <br>
                  <h3>Why is it worth getting vaccinated?</h3>
                  <p>
                    Defeating the coronavirus is only possible by interrupting its human-to-human transmission. The
                    vaccine
                    gives us this opportunity. In order for the effects to be the best and as quickly as possible, we
                    must
                    be
                    responsible and solidarity. Anyone who gets vaccinated has a chance to break the chain of
                    infections.
                    Our
                    vaccination is not only about protection for us. It is also about protecting our parents,
                    grandparents,
                    children and friends.</p><br>
                  <div class="text-center vaccine__button pb-3">
                    <button type="button" class="button--red box--shadow">BOOK YOUR VACCINE
                      NOW!</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="col-md-12 table__info table--full box--shadow">
              <div class="container">
                <h2 class="table__header text-center">HOW TO GET VACCINE?</h2>
                <hr class="hr--dark">
                <div class="info__list">
                  <h3>You will be offered a vaccination.</h3>
                  <p>When it comes your time, you will receive a vaccination offer through your e-boks.</p>
                  <br>
                  <h3>IMPORTANT!</h3>
                  <p>Please keep in mind that your booking will be cancelled if it is not your time for the vaccine.</p>
                  <br>
                  <h3>What if I received an offer?</h3>
                  <p>If you received a vaccination offer on your e-boks, you can book your vaccine. After receiving the
                    first dose of vaccine, your second dose appointment will be booked automatically,
                    <strong>you do not need to do it </strong>.
                  </p>
                  <h3>After the vaccine</h3>
                  <p>After both dose of vaccines you can print your vaccine pass. You just need to login into your
                    profile
                    and press button
                    <strong> VACCINE PASS</strong>.
                  </p><br>
                  <h4 class="pb-3">Remember, you cannot choose your vaccine type!</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>