
<div class="container">
    <div class="navbar-brand"></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <img src="/images/loginThumbnail" class="thumbnail__user img-fluid">
        <ul class="navbar-nav text--shadow text--bold">

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='about'>ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="vaccine">VACCINE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='test'>TEST</a>
            </li>
        </ul>
    </div>
</div>