<body>
<form>
    <div class="mb-3">
        <label for="exampleInputUsername" class="form-label text--left">Username</label>
        <input type="text" class="form-control" placeholder="username" id="exampleInputUsername" aria-describedby="usernameHelp">

    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label text--left">Password</label>
        <input type="password" class="form-control" placeholder="password" id="exampleInputPassword1">
    </div>

    <button type="submit" class="button__authentication box--shadow">LOGIN</button>
    <div class="container">

        <div class="register">
            Register
        </div>

        <div class="forgotpw">
            Forgot password?
        </div>

    </div>

</form>
</body>
