<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="shared/head" />

<body>

<div class="wrapper">
    <nav th:include="shared/navbar" class="navbar navbar-expand-lg navbar-dark text-uppercase" />
    <div class="container">
        <div class="header__container text--shadow">
            <div class="container container__about">
                <div class="row ">
                    <div class="col col__about">
                        Cheap
                    </div>
                </div>
                <div class="row">
                    <div class="col col__about">
                        Easy
                    </div>
                </div>
                <div class="row">
                    <div class="col col__about">
                        Reliable
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="button--white button__about box--shadow">BOOK NOW</button>
                </div>

            </div>

        </div>

    </div>

    <div class="container table__container">
        <div class="row row__about gap--1">
            <div class="col-md-4 col-sm-12 table__contact column__about__margleft">
                <div class="container text-center">
                    <img src="/images/register.png" class="img-thumbnail img-fluid" alt="register">
                    <h1 class="about__header"> First you have to Register</h1>
                    <p class="about__text">Follow a simple registration, where you have to enter an email addresss, your name, CPR and create a new unique password</p>
                </div>
            </div>
            <div class="col-sm-12 table__booking column__about">
                <div class="container text-center">
                    <img src="/images/calender.png" class="img-thumbnail img-fluid" alt="register">
                    <h1 class="about__header"> Then Make an Appointment</h1>
                    <p class="about__text">Chose a date and time for your Vaccine or SWAB Test, the booked time can be found in your profile.</p>
                </div>
            </div>
            <div class="col-sm-12 table__booking column__about__marright">
                <div class="container text-center">
                    <img src="/images/paper.png" class="img-thumbnail img-fluid" alt="register">
                    <h1 class="about__header"> Download your Corona Pass</h1>
                    <p class="about__text">Then simply navigate to your profile and find your Corona Pass. Press the button to download it as PDF and you are ready</p>
                </div>

            </div>
        </div>

    </div>



</div>
</body>

</html>